In [1]:
import pandas as pd
import numpy as np
import matplotlib as mlt
import statistics as stat
import seaborn as sns

In [2]:
data = pd.read_csv('Dataset3.csv',index_col=0)

In [3]:
data.head()

,cust_number,name_customer,clear_date,posting_date,document_create_date,document_create_date.1,due_in_date,total_open_amount,baseline_create_date,cust_payment_terms,isOpen,Delay,Time_given,Time_taken,Time_variance
0,200769623,WAL-MAR corp,2020-11-02,2020-01-26,2020-01-25,2020-01-26,2020-02-10,4054214.016,2020-01-26,NAH4,0,266.0,15 days,281 days,266 days
1,200980828,BEN E,2019-08-08,2019-07-22,2019-07-22,2019-07-22,2019-08-11,5950348.020,2019-07-22,NAD1,0,-3.0,20 days,17 days,-3 days
2,200792734,MDV/ trust,2019-12-30,2019-09-14,2019-09-14,2019-09-14,2019-09-29,168363.342,2019-09-14,NAA8,0,92.0,15 days,107 days,92 days
3,140105686,SYSC llc,NaN,2020-03-30,2020-03-30,2020-03-30,2020-04-10,194055.357,2020-03-31,CA10,1,NaN,11 days,NaN,NaN
4,200769623,WAL-MAR foundation,2019-11-25,2019-11-13,2019-11-13,2019-11-13,2019-11-28,2475056.763,2019-11-13,NAH4,0,-3.0,15 days,12 days,-3 days

In [4]:
data['clear_date'] = pd.to_datetime(data['clear_date'])
data['posting_date'] = pd.to_datetime(data['posting_date'])
data['document_create_date'] = pd.to_datetime(data['document_create_date'])
data['document_create_date.1'] = pd.to_datetime(data['document_create_date.1'])
data['due_in_date'] = pd.to_datetime(data['due_in_date'])
data['baseline_create_date'] = pd.to_datetime(data['baseline_create_date'])
data['Time_given'] = (data['due_in_date'] - data['document_create_date']).dt.days
data['Time_taken'] = (data['clear_date'] - data['document_create_date']).dt.days
data['Time_variance'] = (data['Time_taken']-data['Time_given'])
data['Delay'] = (data['clear_date'] - data['due_in_date']).dt.days

In [5]:
data['Time_given'].head()

0    16
1    20
2    15
3    11
4    15
Name: Time_given, dtype: int64

In [6]:
data['Time_taken'].head()

0    282.0
1     17.0
2    107.0
3      NaN
4     12.0
Name: Time_taken, dtype: float64

In [7]:
data['Time_variance'].head()

0    266.0
1     -3.0
2     92.0
3      NaN
4     -3.0
Name: Time_variance, dtype: float64

In [8]:
data.to_csv('Dataset3.csv')

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 49999
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   cust_number             50000 non-null  object
 1   name_customer           50000 non-null  object
 2   clear_date              40000 non-null  datetime64[ns]
 3   posting_date            50000 non-null  datetime64[ns]
 4   document_create_date    50000 non-null  datetime64[ns]
 5   document_create_date.1  50000 non-null  datetime64[ns]
 6   due_in_date             50000 non-null  datetime64[ns]
 7   total_open_amount       50000 non-null  float64
 8   baseline_create_date    50000 non-null  datetime64[ns]
 9   cust_payment_terms      50000 non-null  object
 10  isOpen                  50000 non-null  int64
 11  Delay                   40000 non-null  float64
 12  Time_given              50000 non-null  int64
 13  Time_taken              40000 non-null  float64
 14  Time_variance           40000 non-null  float64
dtypes: datetime64[ns](6), float64(4), int64(2), object(3)
memory usage: 6.1+ MB