In [283]:
import pandas as pd
import numpy as np
import matplotlib as mlt
import statistics as stat
import seaborn as sns
from sklearn import preprocessing

In [284]:
data = pd.read_csv('Dataset3.csv',index_col=0)

In [285]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 49999
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   business_code           50000 non-null  object
 1   cust_number             50000 non-null  object
 2   name_customer           50000 non-null  object
 3   clear_date              40000 non-null  object
 4   posting_date            50000 non-null  object
 5   document_create_date    50000 non-null  object
 6   document_create_date.1  50000 non-null  object
 7   due_in_date             50000 non-null  object
 8   total_open_amount       50000 non-null  float64
 9   baseline_create_date    50000 non-null  object
 10  cust_payment_terms      50000 non-null  object
 11  isOpen                  50000 non-null  int64
 12  delay                   40000 non-null  float64
 13  Time_given              50000 non-null  int64
 14  Time_taken              40000 non-null  float64
 15  Time_variance           40000 non-null  float64
dtypes: float64(4), int64(2), object(10)
memory usage: 6.5+ MB

In [286]:
data.head()

,business_code,cust_number,name_customer,clear_date,posting_date,document_create_date,document_create_date.1,due_in_date,total_open_amount,baseline_create_date,cust_payment_terms,isOpen,delay,Time_given,Time_taken,Time_variance
0,U001,200769623,WAL-MAR corp,2020-11-02,2020-01-26,2020-01-25,2020-01-26,2020-02-10,4054214.016,2020-01-26,NAH4,0,266.0,16,282.0,266.0
1,U001,200980828,BEN E,2019-08-08,2019-07-22,2019-07-22,2019-07-22,2019-08-11,5950348.020,2019-07-22,NAD1,0,-3.0,20,17.0,-3.0
2,U001,200792734,MDV/ trust,2019-12-30,2019-09-14,2019-09-14,2019-09-14,2019-09-29,168363.342,2019-09-14,NAA8,0,92.0,15,107.0,92.0
3,CA02,140105686,SYSC llc,NaN,2020-03-30,2020-03-30,2020-03-30,2020-04-10,194055.357,2020-03-31,CA10,1,NaN,11,NaN,NaN
4,U001,200769623,WAL-MAR foundation,2019-11-25,2019-11-13,2019-11-13,2019-11-13,2019-11-28,2475056.763,2019-11-13,NAH4,0,-3.0,15,12.0,-3.0

In [287]:
data['clear_date'] = pd.to_datetime(data['clear_date'])
data['posting_date'] = pd.to_datetime(data['posting_date'])
data['document_create_date'] = pd.to_datetime(data['document_create_date'])
data['document_create_date.1'] = pd.to_datetime(data['document_create_date.1'])
data['due_in_date'] = pd.to_datetime(data['due_in_date'])
data['baseline_create_date'] = pd.to_datetime(data['baseline_create_date'])
data['delay'] = (data['Time_taken']-data['Time_given'])

In [288]:
data.sort_index(axis=1,inplace=True)

In [289]:
data.head()

,Time_given,Time_taken,Time_variance,baseline_create_date,business_code,clear_date,cust_number,cust_payment_terms,delay,document_create_date,document_create_date.1,due_in_date,isOpen,name_customer,posting_date,total_open_amount
0,16,282.0,266.0,2020-01-26,U001,2020-11-02,200769623,NAH4,266.0,2020-01-25,2020-01-26,2020-02-10,0,WAL-MAR corp,2020-01-26,4054214.016
1,20,17.0,-3.0,2019-07-22,U001,2019-08-08,200980828,NAD1,-3.0,2019-07-22,2019-07-22,2019-08-11,0,BEN E,2019-07-22,5950348.020
2,15,107.0,92.0,2019-09-14,U001,2019-12-30,200792734,NAA8,92.0,2019-09-14,2019-09-14,2019-09-29,0,MDV/ trust,2019-09-14,168363.342
3,11,NaN,NaN,2020-03-31,CA02,NaT,140105686,CA10,NaN,2020-03-30,2020-03-30,2020-04-10,1,SYSC llc,2020-03-30,194055.357
4,15,12.0,-3.0,2019-11-13,U001,2019-11-25,200769623,NAH4,-3.0,2019-11-13,2019-11-13,2019-11-28,0,WAL-MAR foundation,2019-11-13,2475056.763

In [290]:
data.to_csv('Dataset4.csv')

In [291]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 49999
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Time_given              50000 non-null  int64
 1   Time_taken              40000 non-null  float64
 2   Time_variance           40000 non-null  float64
 3   baseline_create_date    50000 non-null  datetime64[ns]
 4   business_code           50000 non-null  object
 5   clear_date              40000 non-null  datetime64[ns]
 6   cust_number             50000 non-null  object
 7   cust_payment_terms      50000 non-null  object
 8   delay                   40000 non-null  float64
 9   document_create_date    50000 non-null  datetime64[ns]
 10  document_create_date.1  50000 non-null  datetime64[ns]
 11  due_in_date             50000 non-null  datetime64[ns]
 12  isOpen                  50000 non-null  int64
 13  name_customer           50000 non-null  object
 14  posting_date            50000 non-null  datetime64[ns]
 15  total_open_amount       50000 non-null  float64
dtypes: datetime64[ns](6), float64(4), int64(2), object(4)
memory usage: 6.5+ MB

In [292]:
target = 'isOpen'

In [293]:
def mycorr(x,y=data[target]):
    mat = np.corrcoef(x,y)
    print(mat)

In [294]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 49999
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Time_given              50000 non-null  int64
 1   Time_taken              40000 non-null  float64
 2   Time_variance           40000 non-null  float64
 3   baseline_create_date    50000 non-null  datetime64[ns]
 4   business_code           50000 non-null  object
 5   clear_date              40000 non-null  datetime64[ns]
 6   cust_number             50000 non-null  object
 7   cust_payment_terms      50000 non-null  object
 8   delay                   40000 non-null  float64
 9   document_create_date    50000 non-null  datetime64[ns]
 10  document_create_date.1  50000 non-null  datetime64[ns]
 11  due_in_date             50000 non-null  datetime64[ns]
 12  isOpen                  50000 non-null  int64
 13  name_customer           50000 non-null  object
 14  posting_date            50000 non-null  datetime64[ns]
 15  total_open_amount       50000 non-null  float64
dtypes: datetime64[ns](6), float64(4), int64(2), object(4)
memory usage: 6.5+ MB

In [295]:
mycorr(data['Time_given'])

[[ 1.         -0.02302441]
 [-0.02302441  1.        ]]

In [296]:
mycorr(data['Time_taken'].notnull(),data['isOpen'])

[[ 1. -1.]
 [-1.  1.]]

In [297]:
mycorr(data['Time_variance'].notnull(),data['Time_taken'].notnull())

[[1. 1.]
 [1. 1.]]

In [298]:
data.shape

(50000, 16)

In [299]:
for i in data:
    if data[i].isnull().sum()>0:
        print(i,data[i].isnull().sum())

Time_taken 10000
Time_variance 10000
clear_date 10000
delay 10000

In [300]:
data.head()

,Time_given,Time_taken,Time_variance,baseline_create_date,business_code,clear_date,cust_number,cust_payment_terms,delay,document_create_date,document_create_date.1,due_in_date,isOpen,name_customer,posting_date,total_open_amount
0,16,282.0,266.0,2020-01-26,U001,2020-11-02,200769623,NAH4,266.0,2020-01-25,2020-01-26,2020-02-10,0,WAL-MAR corp,2020-01-26,4054214.016
1,20,17.0,-3.0,2019-07-22,U001,2019-08-08,200980828,NAD1,-3.0,2019-07-22,2019-07-22,2019-08-11,0,BEN E,2019-07-22,5950348.020
2,15,107.0,92.0,2019-09-14,U001,2019-12-30,200792734,NAA8,92.0,2019-09-14,2019-09-14,2019-09-29,0,MDV/ trust,2019-09-14,168363.342
3,11,NaN,NaN,2020-03-31,CA02,NaT,140105686,CA10,NaN,2020-03-30,2020-03-30,2020-04-10,1,SYSC llc,2020-03-30,194055.357
4,15,12.0,-3.0,2019-11-13,U001,2019-11-25,200769623,NAH4,-3.0,2019-11-13,2019-11-13,2019-11-28,0,WAL-MAR foundation,2019-11-13,2475056.763

In [301]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 49999
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Time_given              50000 non-null  int64
 1   Time_taken              40000 non-null  float64
 2   Time_variance           40000 non-null  float64
 3   baseline_create_date    50000 non-null  datetime64[ns]
 4   business_code           50000 non-null  object
 5   clear_date              40000 non-null  datetime64[ns]
 6   cust_number             50000 non-null  object
 7   cust_payment_terms      50000 non-null  object
 8   delay                   40000 non-null  float64
 9   document_create_date    50000 non-null  datetime64[ns]
 10  document_create_date.1  50000 non-null  datetime64[ns]
 11  due_in_date             50000 non-null  datetime64[ns]
 12  isOpen                  50000 non-null  int64
 13  name_customer           50000 non-null  object
 14  posting_date            50000 non-null  datetime64[ns]
 15  total_open_amount       50000 non-null  float64
dtypes: datetime64[ns](6), float64(4), int64(2), object(4)
memory usage: 6.5+ MB

In [302]:
data.describe()

,Time_given,Time_taken,Time_variance,delay,isOpen,total_open_amount
count,50000.000000,40000.000000,40000.000000,40000.000000,50000.000000,5.000000e+04
mean,17.924740,19.918175,1.872750,1.872750,0.200000,2.345506e+06
std,10.483327,91.087921,90.990873,90.990873,0.400004,2.764850e+06
min,-50.000000,-291.000000,-326.000000,-326.000000,0.000000,5.378400e+01
25%,15.000000,11.000000,-5.000000,-5.000000,0.000000,3.601862e+05
50%,16.000000,16.000000,0.000000,0.000000,0.000000,1.297247e+06
75%,17.000000,33.000000,6.000000,6.000000,0.000000,3.466986e+06
max,122.000000,338.000000,316.000000,316.000000,1.000000,4.994392e+07

In [303]:
data.nunique()

Time_given                  120
Time_taken                  607
Time_variance               595
baseline_create_date        506
business_code                 6
clear_date                  403
cust_number                1099
cust_payment_terms           74
delay                       595
document_create_date        507
document_create_date.1      506
due_in_date                 547
isOpen                        2
name_customer              4197
posting_date                506
total_open_amount         44384
dtype: int64

In [304]:
data.corr()

,Time_given,Time_taken,Time_variance,delay,isOpen,total_open_amount
Time_given,1.000000,0.067826,-0.049759,-0.049759,-0.023024,-0.065460
Time_taken,0.067826,1.000000,0.993086,0.993086,NaN,-0.009059
Time_variance,-0.049759,0.993086,1.000000,1.000000,NaN,-0.001664
delay,-0.049759,0.993086,1.000000,1.000000,NaN,-0.001664
isOpen,-0.023024,NaN,NaN,NaN,1.000000,0.014640
total_open_amount,-0.065460,-0.009059,-0.001664,-0.001664,0.014640,1.000000

In [305]:
data.cov()

,Time_given,Time_taken,Time_variance,delay,isOpen,total_open_amount
Time_given,1.099002e+02,6.614137e+01,-48.471006,-48.471006,-0.096550,-1.897353e+06
Time_taken,6.614137e+01,8.297009e+03,8230.867934,8230.867934,0.000000,-2.296083e+06
Time_variance,-4.847101e+01,8.230868e+03,8279.338941,8279.338941,0.000000,-4.211739e+05
delay,-4.847101e+01,8.230868e+03,8279.338941,8279.338941,0.000000,-4.211739e+05
isOpen,-9.654993e-02,0.000000e+00,0.000000,0.000000,0.160003,1.619109e+04
total_open_amount,-1.897353e+06,-2.296083e+06,-421173.919825,-421173.919825,16191.093484,7.644397e+12

In [306]:
data.nunique()

Time_given                  120
Time_taken                  607
Time_variance               595
baseline_create_date        506
business_code                 6
clear_date                  403
cust_number                1099
cust_payment_terms           74
delay                       595
document_create_date        507
document_create_date.1      506
due_in_date                 547
isOpen                        2
name_customer              4197
posting_date                506
total_open_amount         44384
dtype: int64

In [307]:
orig = pd.read_csv('Dataset.csv',index_col=0)

In [308]:
print(orig.nunique())

cust_number                1099
name_customer              4197
clear_date                  403
buisness_year                 2
doc_id                    48839
posting_date                506
document_create_date        507
document_create_date.1      506
due_in_date                 547
invoice_currency              2
document type                 2
posting_id                    1
area_business                 0
Unnamed: 14                  17
total_open_amount         44349
baseline_create_date        506
cust_payment_terms           74
invoice_id                48833
isOpen                        2
dtype: int64

In [309]:
data.nunique()

Time_given                  120
Time_taken                  607
Time_variance               595
baseline_create_date        506
business_code                 6
clear_date                  403
cust_number                1099
cust_payment_terms           74
delay                       595
document_create_date        507
document_create_date.1      506
due_in_date                 547
isOpen                        2
name_customer              4197
posting_date                506
total_open_amount         44384
dtype: int64

In [310]:
ls1 = data['name_customer'].unique()
len(ls1)

4197

In [311]:
data['count'] = 1

In [312]:
data.head()

,Time_given,Time_taken,Time_variance,baseline_create_date,business_code,clear_date,cust_number,cust_payment_terms,delay,document_create_date,document_create_date.1,due_in_date,isOpen,name_customer,posting_date,total_open_amount,count
0,16,282.0,266.0,2020-01-26,U001,2020-11-02,200769623,NAH4,266.0,2020-01-25,2020-01-26,2020-02-10,0,WAL-MAR corp,2020-01-26,4054214.016,1
1,20,17.0,-3.0,2019-07-22,U001,2019-08-08,200980828,NAD1,-3.0,2019-07-22,2019-07-22,2019-08-11,0,BEN E,2019-07-22,5950348.020,1
2,15,107.0,92.0,2019-09-14,U001,2019-12-30,200792734,NAA8,92.0,2019-09-14,2019-09-14,2019-09-29,0,MDV/ trust,2019-09-14,168363.342,1
3,11,NaN,NaN,2020-03-31,CA02,NaT,140105686,CA10,NaN,2020-03-30,2020-03-30,2020-04-10,1,SYSC llc,2020-03-30,194055.357,1
4,15,12.0,-3.0,2019-11-13,U001,2019-11-25,200769623,NAH4,-3.0,2019-11-13,2019-11-13,2019-11-28,0,WAL-MAR foundation,2019-11-13,2475056.763,1

In [313]:
ls = data.groupby('name_customer', as_index=False).sum()
for col in ls.columns:
    if col != 'name_customer':
        ls[col] = ls[col]/ls['count']
ls

,name_customer,Time_given,Time_taken,Time_variance,delay,isOpen,total_open_amount,count
0,11078 us,11.0,-58.0,-69.0,-69.0,0.0,6.033024e+05,1.0
1,17135 associates,11.0,1.0,-10.0,-10.0,0.0,4.688216e+06,1.0
2,17135 llc,11.0,8.0,-3.0,-3.0,0.0,6.633768e+04,1.0
3,17135 trust,11.0,0.0,0.0,0.0,1.0,5.374764e+05,1.0
4,17135 us,12.0,0.0,0.0,0.0,1.0,2.428277e+05,1.0
...,...,...,...,...,...,...,...,...
4192,YEN BROS corporation,19.5,19.0,-0.5,-0.5,0.0,1.641261e+06,1.0
4193,YEN BROS llc,19.0,17.0,-2.0,-2.0,0.0,2.112332e+05,1.0
4194,ZARCO co,13.0,12.0,-1.0,-1.0,0.0,1.905872e+06,1.0
4195,ZARCO trust,12.0,0.0,0.0,0.0,1.0,6.965662e+05,1.0
4196,ZIYAD us,113.0,30.0,-83.0,-83.0,0.0,7.923242e+06,1.0

In [314]:
res = data.groupby('cust_number', as_index=False).sum()
for col in res.columns:
    if col != 'cust_number':
        res[col] = res[col]/res['count']
res

,cust_number,Time_given,Time_taken,Time_variance,delay,isOpen,total_open_amount,count
0,100000048,92.000000,119.500000,27.500000,27.500000,0.000000,4.650884e+06,1.0
1,100000051,30.666667,101.000000,70.333333,70.333333,0.000000,2.536869e+06,1.0
2,100000158,90.571429,90.285714,-0.285714,-0.285714,0.000000,3.723110e+06,1.0
3,100000217,19.000000,47.500000,28.500000,28.500000,0.000000,2.260563e+06,1.0
4,100000222,18.470588,30.941176,16.176471,16.176471,0.205882,2.038847e+06,1.0
...,...,...,...,...,...,...,...,...
1094,CC7455,45.750000,54.750000,9.000000,9.000000,0.000000,1.342999e+06,1.0
1095,CCCA02,36.762195,4.050813,-29.121951,-29.121951,0.097561,1.629565e+06,1.0
1096,CCU001,36.145833,-0.333333,-31.083333,-31.083333,0.145833,2.127915e+06,1.0
1097,CCU002,37.465116,-0.728682,-35.806202,-35.806202,0.062016,2.139507e+06,1.0
1098,CCU013,1.960591,0.847291,-0.906404,-0.906404,0.110016,1.126580e+06,1.0

In [315]:
data.shape

(50000, 17)

In [316]:
print(res.iloc[0])

cust_number             100000048
Time_given                   92.0
Time_taken                  119.5
Time_variance                27.5
delay                        27.5
isOpen                        0.0
total_open_amount    4650884.3745
count                         1.0
Name: 0, dtype: object

In [317]:
dups = data.pivot_table(index = ['name_customer'], aggfunc ='size')
for i in dups:
    if dups[i]>1:
        print(i)

6
6
6
7
15
18
9
9
13
6
9
14
15
14
12
7
16
15
10
18
21
14
13
12
21
26
26
49
48
46
48
53
54
6
6
7
7
6
6
92
86
91
91
92
86
83
80
95
74
80
6
12
6
13
10
10
7
10
17
11
6
12
10
6
10
6
10
10
6
174
171
209
15
14
10
11
6
13
12
7
10
6
9
9
9
9
11
7
7
11
7
7
10
9
6
7
11
12
11
13
12
15
16
14
7
7
6
6
142
150
150
171
141
6
6
6
7
12
7
13
7
7
7
17
17
10
14
17
6
15
12
10
13
9
6
14
12
9
7
10
99
97
49
42
37
42
48
44
6
7
130
125
97
104
99
93
100
103
102
87
101
118
79
91
106
94
91
43
45
43
42
43
42
9
6
6
9
6
6
12
10
6
6
7
6
7
6
44
43
44
37
48
11
16
18
9
10
14
9
11
74
75
61
80
77
93
85
79
68
10
11
10
10
12
10
10
12
11
9
6
12
6
12
6
7
6
6
17
21
13
11
9
11
9
10
17
20
7
6
6
6
9
7
6
7
6
6
12
20
18
16
18
10
21
20
14
14
21
17
14
18
12
15
16
17
9
12
11
10
14
16
46
37
43
43
43
44
43
43
43
6
7
9
6
10
9
9
10
12
6
18
7
13
9
9
7
9
6
7
10
13
6
12
9
10
7
6
9
6
6
6
6
20
15
12
13
18
11
12
12
15
17
9
11
7
10
14
7
12
10
12
7
16
20
11
11
18
15
6
14
6
7
15
21
17
14
7
11
17
11
10
15
59
39
51
51
59
42
40
52
47
48
56
58
52
52
53
45
57
56
15
9
12
18
11
11
12
6
13
14
18
18
12
9
15
14
15
10
20
20
23
16
18
14
11
74
89
87
90
75
76
91
75
76
6
57
60
42
51
59
52
49
45
47
7
10
12
14
12
6
14
16
11
11
13
6
6
12
14
11
13
6
6
10
6
7
6
9
9
6
7
7
6
9
7
6
6
6
17
46
42
37
40
9
9
7
9
9
14
12
12
6
17
15
15
16
21
17
20
15
12
17
53
50
57
44
40
50
44
17
20
17
16
15
23
18
11
23
9
7
6
9
7
6
7
6
9
15
17
21
13
23
20
16
10
20
6
7
7
21
21
13
26
16
11
7
12
11
13
10
14
16
7
15
6
18
21
16
9
6
6
6
7
13
6
9
6
7
6
6
10
6
6
6
6
53
68
73
63
76
78
61
9
9
6
20
12
17
20
16
16
12
14
12
9
11
15
10
9
16
23
26
16
7
6
9
7
6
7
6
10
7
10
10
9
145
171
177
26
6
10
9
9
7
6
7
7
9
6
6
7
7
6
7
6
7
7
6
9
6
10
9
14
11
7
12
11
9
10
9
7
7
23
20
15
26
10
18
16
17
6
20
26
26
23
7
7
14
6
12
9
7
6
11
10
11
6
9
6
6
9
6
79
60
73
92
59
78
59
58
78
6
10
6
9
7
6
10
12
14
15
16
14
12
13
7
15
18
12
45
45
39
43
51
59
53
50
10
40
56
42
45
46
37
47
47
51
43
45
37
23
26
39
10
12
12
7
7
12
9
11
17
6
17
20
16
20
17
14
23
11
13
6
10
7
100
108
93
118
90
11
10
11
16
13
11
12
6
7
7
6
6
6
6
6
6
7
11
10
18
10
16
15
12
14
12
12
7
10
13
9
7
10
9
10
10
50
43
64
48
49
51
58
57
57
23
6
6
50
52
46
47
46
47
50
45
52
48
1093
1122
1136
1092
1092
1150
1123
1064
10
7
6
7
13
7
9
10
10
9
12
10
17
12
7
11
9
12
7
7
7
9
13
10
42
48
45
42
39
47

In [318]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 49999
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Time_given              50000 non-null  int64
 1   Time_taken              40000 non-null  float64
 2   Time_variance           40000 non-null  float64
 3   baseline_create_date    50000 non-null  datetime64[ns]
 4   business_code           50000 non-null  object
 5   clear_date              40000 non-null  datetime64[ns]
 6   cust_number             50000 non-null  object
 7   cust_payment_terms      50000 non-null  object
 8   delay                   40000 non-null  float64
 9   document_create_date    50000 non-null  datetime64[ns]
 10  document_create_date.1  50000 non-null  datetime64[ns]
 11  due_in_date             50000 non-null  datetime64[ns]
 12  isOpen                  50000 non-null  int64
 13  name_customer           50000 non-null  object
 14  posting_date            50000 non-null  datetime64[ns]
 15  total_open_amount       50000 non-null  float64
 16  count                   50000 non-null  int64
dtypes: datetime64[ns](6), float64(4), int64(3), object(4)
memory usage: 6.9+ MB

In [319]:
data.head()

,Time_given,Time_taken,Time_variance,baseline_create_date,business_code,clear_date,cust_number,cust_payment_terms,delay,document_create_date,document_create_date.1,due_in_date,isOpen,name_customer,posting_date,total_open_amount,count
0,16,282.0,266.0,2020-01-26,U001,2020-11-02,200769623,NAH4,266.0,2020-01-25,2020-01-26,2020-02-10,0,WAL-MAR corp,2020-01-26,4054214.016,1
1,20,17.0,-3.0,2019-07-22,U001,2019-08-08,200980828,NAD1,-3.0,2019-07-22,2019-07-22,2019-08-11,0,BEN E,2019-07-22,5950348.020,1
2,15,107.0,92.0,2019-09-14,U001,2019-12-30,200792734,NAA8,92.0,2019-09-14,2019-09-14,2019-09-29,0,MDV/ trust,2019-09-14,168363.342,1
3,11,NaN,NaN,2020-03-31,CA02,NaT,140105686,CA10,NaN,2020-03-30,2020-03-30,2020-04-10,1,SYSC llc,2020-03-30,194055.357,1
4,15,12.0,-3.0,2019-11-13,U001,2019-11-25,200769623,NAH4,-3.0,2019-11-13,2019-11-13,2019-11-28,0,WAL-MAR foundation,2019-11-13,2475056.763,1

In [320]:
data.drop(['Time_given','Time_taken','Time_variance'],axis=1,inplace=True)

In [321]:
data.head()

,baseline_create_date,business_code,clear_date,cust_number,cust_payment_terms,delay,document_create_date,document_create_date.1,due_in_date,isOpen,name_customer,posting_date,total_open_amount,count
0,2020-01-26,U001,2020-11-02,200769623,NAH4,266.0,2020-01-25,2020-01-26,2020-02-10,0,WAL-MAR corp,2020-01-26,4054214.016,1
1,2019-07-22,U001,2019-08-08,200980828,NAD1,-3.0,2019-07-22,2019-07-22,2019-08-11,0,BEN E,2019-07-22,5950348.020,1
2,2019-09-14,U001,2019-12-30,200792734,NAA8,92.0,2019-09-14,2019-09-14,2019-09-29,0,MDV/ trust,2019-09-14,168363.342,1
3,2020-03-31,CA02,NaT,140105686,CA10,NaN,2020-03-30,2020-03-30,2020-04-10,1,SYSC llc,2020-03-30,194055.357,1
4,2019-11-13,U001,2019-11-25,200769623,NAH4,-3.0,2019-11-13,2019-11-13,2019-11-28,0,WAL-MAR foundation,2019-11-13,2475056.763,1

In [322]:
data['isOpen'].value_counts()

0    40000
1    10000
Name: isOpen, dtype: int64

In [323]:
def split_name(df):
    def get_names(full_name):
        f_name= full_name.split(' ')[0]
        l_name = full_name.split(' ')[-1]
        if(len(full_name.split(' '))>2):
            m_name = full_name.split(' ')[1:-1]
        else:
            m_name  = ""
        return pd.Series(
            (f_name,m_name,l_name),
            index = ['First Name','Middle Name','Last Name']
        )
        
    names = df['name_customer'].apply(get_names)
    df[names.columns] = names
    return df
split_name(data)

,baseline_create_date,business_code,clear_date,cust_number,cust_payment_terms,delay,document_create_date,document_create_date.1,due_in_date,isOpen,name_customer,posting_date,total_open_amount,count,First Name,Middle Name,Last Name
0,2020-01-26,U001,2020-11-02,200769623,NAH4,266.0,2020-01-25,2020-01-26,2020-02-10,0,WAL-MAR corp,2020-01-26,4054214.016,1,WAL-MAR,,corp
1,2019-07-22,U001,2019-08-08,200980828,NAD1,-3.0,2019-07-22,2019-07-22,2019-08-11,0,BEN E,2019-07-22,5950348.020,1,BEN,[E],
2,2019-09-14,U001,2019-12-30,200792734,NAA8,92.0,2019-09-14,2019-09-14,2019-09-29,0,MDV/ trust,2019-09-14,168363.342,1,MDV/,,trust
3,2020-03-31,CA02,NaT,140105686,CA10,NaN,2020-03-30,2020-03-30,2020-04-10,1,SYSC llc,2020-03-30,194055.357,1,SYSC,,llc
4,2019-11-13,U001,2019-11-25,200769623,NAH4,-3.0,2019-11-13,2019-11-13,2019-11-28,0,WAL-MAR foundation,2019-11-13,2475056.763,1,WAL-MAR,,foundation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2020-04-21,U001,NaT,200561861,NAA8,NaN,2020-04-17,2020-04-21,2020-05-06,1,CO corporation,2020-04-21,238133.142,1,CO,,corporation
49996,2019-08-15,U001,2019-03-09,200769623,NAH4,-174.0,2019-08-14,2019-08-15,2019-08-30,0,WAL-MAR co,2019-08-15,505460.538,1,WAL-MAR,,co
49997,2020-02-19,U001,2020-05-03,200772595,NAA8,59.0,2020-02-18,2020-02-19,2020-03-05,0,SAFEW associates,2020-02-19,457228.242,1,SAFEW,,associates
49998,2019-11-27,U001,2019-12-12,200726979,NAA8,0.0,2019-11-26,2019-11-27,2019-12-12,0,BJ'S llc,2019-11-27,4741.956,1,BJ'S,[],llc
49999,2019-01-01,U001,2019-01-15,200020431,NAM4,-9.0,2019-01-05,2019-01-05,2019-01-24,0,DEC corp,2019-05-01,133735.410,1,DEC,,corp

In [324]:
data

,baseline_create_date,business_code,clear_date,cust_number,cust_payment_terms,delay,document_create_date,document_create_date.1,due_in_date,isOpen,name_customer,posting_date,total_open_amount,count,First Name,Middle Name,Last Name
0,2020-01-26,U001,2020-11-02,200769623,NAH4,266.0,2020-01-25,2020-01-26,2020-02-10,0,WAL-MAR corp,2020-01-26,4054214.016,1,WAL-MAR,,corp
1,2019-07-22,U001,2019-08-08,200980828,NAD1,-3.0,2019-07-22,2019-07-22,2019-08-11,0,BEN E,2019-07-22,5950348.020,1,BEN,[E],
2,2019-09-14,U001,2019-12-30,200792734,NAA8,92.0,2019-09-14,2019-09-14,2019-09-29,0,MDV/ trust,2019-09-14,168363.342,1,MDV/,,trust
3,2020-03-31,CA02,NaT,140105686,CA10,NaN,2020-03-30,2020-03-30,2020-04-10,1,SYSC llc,2020-03-30,194055.357,1,SYSC,,llc
4,2019-11-13,U001,2019-11-25,200769623,NAH4,-3.0,2019-11-13,2019-11-13,2019-11-28,0,WAL-MAR foundation,2019-11-13,2475056.763,1,WAL-MAR,,foundation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2020-04-21,U001,NaT,200561861,NAA8,NaN,2020-04-17,2020-04-21,2020-05-06,1,CO corporation,2020-04-21,238133.142,1,CO,,corporation
49996,2019-08-15,U001,2019-03-09,200769623,NAH4,-174.0,2019-08-14,2019-08-15,2019-08-30,0,WAL-MAR co,2019-08-15,505460.538,1,WAL-MAR,,co
49997,2020-02-19,U001,2020-05-03,200772595,NAA8,59.0,2020-02-18,2020-02-19,2020-03-05,0,SAFEW associates,2020-02-19,457228.242,1,SAFEW,,associates
49998,2019-11-27,U001,2019-12-12,200726979,NAA8,0.0,2019-11-26,2019-11-27,2019-12-12,0,BJ'S llc,2019-11-27,4741.956,1,BJ'S,[],llc
49999,2019-01-01,U001,2019-01-15,200020431,NAM4,-9.0,2019-01-05,2019-01-05,2019-01-24,0,DEC corp,2019-05-01,133735.410,1,DEC,,corp

In [325]:
data.shape
data.describe()

              delay        isOpen  total_open_amount    count
count  40000.000000  50000.000000       5.000000e+04  50000.0
mean       1.872750      0.200000       2.345506e+06      1.0
std       90.990873      0.400004       2.764850e+06      0.0
min     -326.000000      0.000000       5.378400e+01      1.0
25%       -5.000000      0.000000       3.601862e+05      1.0
50%        0.000000      0.000000       1.297247e+06      1.0
75%        6.000000      0.000000       3.466986e+06      1.0
max      316.000000      1.000000       4.994392e+07      1.0

In [326]:
data.head()

,baseline_create_date,business_code,clear_date,cust_number,cust_payment_terms,delay,document_create_date,document_create_date.1,due_in_date,isOpen,name_customer,posting_date,total_open_amount,count,First Name,Middle Name,Last Name
0,2020-01-26,U001,2020-11-02,200769623,NAH4,266.0,2020-01-25,2020-01-26,2020-02-10,0,WAL-MAR corp,2020-01-26,4054214.016,1,WAL-MAR,,corp
1,2019-07-22,U001,2019-08-08,200980828,NAD1,-3.0,2019-07-22,2019-07-22,2019-08-11,0,BEN E,2019-07-22,5950348.020,1,BEN,[E],
2,2019-09-14,U001,2019-12-30,200792734,NAA8,92.0,2019-09-14,2019-09-14,2019-09-29,0,MDV/ trust,2019-09-14,168363.342,1,MDV/,,trust
3,2020-03-31,CA02,NaT,140105686,CA10,NaN,2020-03-30,2020-03-30,2020-04-10,1,SYSC llc,2020-03-30,194055.357,1,SYSC,,llc
4,2019-11-13,U001,2019-11-25,200769623,NAH4,-3.0,2019-11-13,2019-11-13,2019-11-28,0,WAL-MAR foundation,2019-11-13,2475056.763,1,WAL-MAR,,foundation

In [327]:
data['First Name'].nunique()

845

In [328]:
data['name_customer'].nunique()

4197

In [329]:
data['cust_number'].nunique()

1099

In [330]:
data['business_code'].value_counts()

U001    45359
CA02     3917
U013      573
U002      135
U005       11
U007        5
Name: business_code, dtype: int64

In [331]:
import re
def split_code(df):
    def get_code(code):
        label = re.findall("\D+",code)
        num = re.findall("\d+",code)
        return pd.Series(
            (label[0],int(num[0])),
            index = ['buisness_code_label','buisness_code_number']
        )
        
    codes = df['business_code'].apply(get_code)
    df[codes.columns] = codes
    return df
split_code(data)

,baseline_create_date,business_code,clear_date,cust_number,cust_payment_terms,delay,document_create_date,document_create_date.1,due_in_date,isOpen,name_customer,posting_date,total_open_amount,count,First Name,Middle Name,Last Name,buisness_code_label,buisness_code_number
0,2020-01-26,U001,2020-11-02,200769623,NAH4,266.0,2020-01-25,2020-01-26,2020-02-10,0,WAL-MAR corp,2020-01-26,4054214.016,1,WAL-MAR,,corp,U,1
1,2019-07-22,U001,2019-08-08,200980828,NAD1,-3.0,2019-07-22,2019-07-22,2019-08-11,0,BEN E,2019-07-22,5950348.020,1,BEN,[E],,U,1
2,2019-09-14,U001,2019-12-30,200792734,NAA8,92.0,2019-09-14,2019-09-14,2019-09-29,0,MDV/ trust,2019-09-14,168363.342,1,MDV/,,trust,U,1
3,2020-03-31,CA02,NaT,140105686,CA10,NaN,2020-03-30,2020-03-30,2020-04-10,1,SYSC llc,2020-03-30,194055.357,1,SYSC,,llc,CA,2
4,2019-11-13,U001,2019-11-25,200769623,NAH4,-3.0,2019-11-13,2019-11-13,2019-11-28,0,WAL-MAR foundation,2019-11-13,2475056.763,1,WAL-MAR,,foundation,U,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2020-04-21,U001,NaT,200561861,NAA8,NaN,2020-04-17,2020-04-21,2020-05-06,1,CO corporation,2020-04-21,238133.142,1,CO,,corporation,U,1
49996,2019-08-15,U001,2019-03-09,200769623,NAH4,-174.0,2019-08-14,2019-08-15,2019-08-30,0,WAL-MAR co,2019-08-15,505460.538,1,WAL-MAR,,co,U,1
49997,2020-02-19,U001,2020-05-03,200772595,NAA8,59.0,2020-02-18,2020-02-19,2020-03-05,0,SAFEW associates,2020-02-19,457228.242,1,SAFEW,,associates,U,1
49998,2019-11-27,U001,2019-12-12,200726979,NAA8,0.0,2019-11-26,2019-11-27,2019-12-12,0,BJ'S llc,2019-11-27,4741.956,1,BJ'S,[],llc,U,1
49999,2019-01-01,U001,2019-01-15,200020431,NAM4,-9.0,2019-01-05,2019-01-05,2019-01-24,0,DEC corp,2019-05-01,133735.410,1,DEC,,corp,U,1

In [332]:
data.head()

,baseline_create_date,business_code,clear_date,cust_number,cust_payment_terms,delay,document_create_date,document_create_date.1,due_in_date,isOpen,name_customer,posting_date,total_open_amount,count,First Name,Middle Name,Last Name,buisness_code_label,buisness_code_number
0,2020-01-26,U001,2020-11-02,200769623,NAH4,266.0,2020-01-25,2020-01-26,2020-02-10,0,WAL-MAR corp,2020-01-26,4054214.016,1,WAL-MAR,,corp,U,1
1,2019-07-22,U001,2019-08-08,200980828,NAD1,-3.0,2019-07-22,2019-07-22,2019-08-11,0,BEN E,2019-07-22,5950348.020,1,BEN,[E],,U,1
2,2019-09-14,U001,2019-12-30,200792734,NAA8,92.0,2019-09-14,2019-09-14,2019-09-29,0,MDV/ trust,2019-09-14,168363.342,1,MDV/,,trust,U,1
3,2020-03-31,CA02,NaT,140105686,CA10,NaN,2020-03-30,2020-03-30,2020-04-10,1,SYSC llc,2020-03-30,194055.357,1,SYSC,,llc,CA,2
4,2019-11-13,U001,2019-11-25,200769623,NAH4,-3.0,2019-11-13,2019-11-13,2019-11-28,0,WAL-MAR foundation,2019-11-13,2475056.763,1,WAL-MAR,,foundation,U,1

In [333]:
data.dtypes

baseline_create_date      datetime64[ns]
business_code                     object
clear_date                datetime64[ns]
cust_number                       object
cust_payment_terms                object
delay                            float64
document_create_date      datetime64[ns]
document_create_date.1    datetime64[ns]
due_in_date               datetime64[ns]
isOpen                             int64
name_customer                     object
posting_date              datetime64[ns]
total_open_amount                float64
count                              int64
First Name                        object
Middle Name                       object
Last Name                         object
buisness_code_label               object
buisness_code_number               int64
dtype: object

In [334]:
data.sort_index(axis=1,inplace=True)

In [335]:
data

,First Name,Last Name,Middle Name,baseline_create_date,buisness_code_label,buisness_code_number,business_code,clear_date,count,cust_number,cust_payment_terms,delay,document_create_date,document_create_date.1,due_in_date,isOpen,name_customer,posting_date,total_open_amount
0,WAL-MAR,corp,,2020-01-26,U,1,U001,2020-11-02,1,200769623,NAH4,266.0,2020-01-25,2020-01-26,2020-02-10,0,WAL-MAR corp,2020-01-26,4054214.016
1,BEN,,[E],2019-07-22,U,1,U001,2019-08-08,1,200980828,NAD1,-3.0,2019-07-22,2019-07-22,2019-08-11,0,BEN E,2019-07-22,5950348.020
2,MDV/,trust,,2019-09-14,U,1,U001,2019-12-30,1,200792734,NAA8,92.0,2019-09-14,2019-09-14,2019-09-29,0,MDV/ trust,2019-09-14,168363.342
3,SYSC,llc,,2020-03-31,CA,2,CA02,NaT,1,140105686,CA10,NaN,2020-03-30,2020-03-30,2020-04-10,1,SYSC llc,2020-03-30,194055.357
4,WAL-MAR,foundation,,2019-11-13,U,1,U001,2019-11-25,1,200769623,NAH4,-3.0,2019-11-13,2019-11-13,2019-11-28,0,WAL-MAR foundation,2019-11-13,2475056.763
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,CO,corporation,,2020-04-21,U,1,U001,NaT,1,200561861,NAA8,NaN,2020-04-17,2020-04-21,2020-05-06,1,CO corporation,2020-04-21,238133.142
49996,WAL-MAR,co,,2019-08-15,U,1,U001,2019-03-09,1,200769623,NAH4,-174.0,2019-08-14,2019-08-15,2019-08-30,0,WAL-MAR co,2019-08-15,505460.538
49997,SAFEW,associates,,2020-02-19,U,1,U001,2020-05-03,1,200772595,NAA8,59.0,2020-02-18,2020-02-19,2020-03-05,0,SAFEW associates,2020-02-19,457228.242
49998,BJ'S,llc,[],2019-11-27,U,1,U001,2019-12-12,1,200726979,NAA8,0.0,2019-11-26,2019-11-27,2019-12-12,0,BJ'S llc,2019-11-27,4741.956
49999,DEC,corp,,2019-01-01,U,1,U001,2019-01-15,1,200020431,NAM4,-9.0,2019-01-05,2019-01-05,2019-01-24,0,DEC corp,2019-05-01,133735.410

In [336]:
data.corr()

,buisness_code_number,count,delay,isOpen,total_open_amount
buisness_code_number,1.000000,NaN,0.022865,-0.021785,-0.006907
count,NaN,NaN,NaN,NaN,NaN
delay,0.022865,NaN,1.000000,NaN,-0.001664
isOpen,-0.021785,NaN,NaN,1.000000,0.014640
total_open_amount,-0.006907,NaN,-0.001664,0.014640,1.000000

In [337]:
data['total_open_amount']

0        4054214.016
1        5950348.020
2         168363.342
3         194055.357
4        2475056.763
            ...
49995     238133.142
49996     505460.538
49997     457228.242
49998       4741.956
49999     133735.410
Name: total_open_amount, Length: 50000, dtype: float64

In [338]:
data['total_open_amount']=data['total_open_amount'].round()

In [339]:
data['total_open_amount'].kurt()

13.289691956758475

In [340]:
data.kurt()

C:\Users\KIIT\AppData\Local\Temp\ipykernel_8720\2907027414.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.kurt()

buisness_code_number    74.340864
count                    0.000000
delay                    2.881408
isOpen                   0.250145
total_open_amount       13.289692
dtype: float64

In [341]:
data.skew()

C:\Users\KIIT\AppData\Local\Temp\ipykernel_8720\1188251951.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.skew()

buisness_code_number    8.554489
count                   0.000000
delay                  -0.018966
isOpen                  1.500045
total_open_amount       2.412468
dtype: float64

In [342]:
data.to_csv('Dataset4.csv')

In [343]:
data

,First Name,Last Name,Middle Name,baseline_create_date,buisness_code_label,buisness_code_number,business_code,clear_date,count,cust_number,cust_payment_terms,delay,document_create_date,document_create_date.1,due_in_date,isOpen,name_customer,posting_date,total_open_amount
0,WAL-MAR,corp,,2020-01-26,U,1,U001,2020-11-02,1,200769623,NAH4,266.0,2020-01-25,2020-01-26,2020-02-10,0,WAL-MAR corp,2020-01-26,4054214.0
1,BEN,,[E],2019-07-22,U,1,U001,2019-08-08,1,200980828,NAD1,-3.0,2019-07-22,2019-07-22,2019-08-11,0,BEN E,2019-07-22,5950348.0
2,MDV/,trust,,2019-09-14,U,1,U001,2019-12-30,1,200792734,NAA8,92.0,2019-09-14,2019-09-14,2019-09-29,0,MDV/ trust,2019-09-14,168363.0
3,SYSC,llc,,2020-03-31,CA,2,CA02,NaT,1,140105686,CA10,NaN,2020-03-30,2020-03-30,2020-04-10,1,SYSC llc,2020-03-30,194055.0
4,WAL-MAR,foundation,,2019-11-13,U,1,U001,2019-11-25,1,200769623,NAH4,-3.0,2019-11-13,2019-11-13,2019-11-28,0,WAL-MAR foundation,2019-11-13,2475057.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,CO,corporation,,2020-04-21,U,1,U001,NaT,1,200561861,NAA8,NaN,2020-04-17,2020-04-21,2020-05-06,1,CO corporation,2020-04-21,238133.0
49996,WAL-MAR,co,,2019-08-15,U,1,U001,2019-03-09,1,200769623,NAH4,-174.0,2019-08-14,2019-08-15,2019-08-30,0,WAL-MAR co,2019-08-15,505461.0
49997,SAFEW,associates,,2020-02-19,U,1,U001,2020-05-03,1,200772595,NAA8,59.0,2020-02-18,2020-02-19,2020-03-05,0,SAFEW associates,2020-02-19,457228.0
49998,BJ'S,llc,[],2019-11-27,U,1,U001,2019-12-12,1,200726979,NAA8,0.0,2019-11-26,2019-11-27,2019-12-12,0,BJ'S llc,2019-11-27,4742.0
49999,DEC,corp,,2019-01-01,U,1,U001,2019-01-15,1,200020431,NAM4,-9.0,2019-01-05,2019-01-05,2019-01-24,0,DEC corp,2019-05-01,133735.0