In [89]:
import pandas as pd
import numpy as np
import matplotlib as mlt
import statistics as stat
import seaborn as sns
from sklearn import preprocessing

In [90]:
data = pd.read_csv('Dataset3.csv',index_col=0)

In [91]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 49999
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   cust_number             50000 non-null  object
 1   name_customer           50000 non-null  object
 2   clear_date              40000 non-null  object
 3   posting_date            50000 non-null  object
 4   document_create_date    50000 non-null  object
 5   document_create_date.1  50000 non-null  object
 6   due_in_date             50000 non-null  object
 7   total_open_amount       50000 non-null  float64
 8   baseline_create_date    50000 non-null  object
 9   cust_payment_terms      50000 non-null  object
 10  isOpen                  50000 non-null  int64
 11  Delay                   40000 non-null  float64
 12  Time_given              50000 non-null  int64
 13  Time_taken              40000 non-null  float64
 14  Time_variance           40000 non-null  float64
dtypes: float64(4), int64(2), object(9)
memory usage: 6.1+ MB

In [92]:
data.head()

,cust_number,name_customer,clear_date,posting_date,document_create_date,document_create_date.1,due_in_date,total_open_amount,baseline_create_date,cust_payment_terms,isOpen,Delay,Time_given,Time_taken,Time_variance
0,200769623,WAL-MAR corp,2020-11-02,2020-01-26,2020-01-25,2020-01-26,2020-02-10,4054214.016,2020-01-26,NAH4,0,266.0,16,282.0,266.0
1,200980828,BEN E,2019-08-08,2019-07-22,2019-07-22,2019-07-22,2019-08-11,5950348.020,2019-07-22,NAD1,0,-3.0,20,17.0,-3.0
2,200792734,MDV/ trust,2019-12-30,2019-09-14,2019-09-14,2019-09-14,2019-09-29,168363.342,2019-09-14,NAA8,0,92.0,15,107.0,92.0
3,140105686,SYSC llc,NaN,2020-03-30,2020-03-30,2020-03-30,2020-04-10,194055.357,2020-03-31,CA10,1,NaN,11,NaN,NaN
4,200769623,WAL-MAR foundation,2019-11-25,2019-11-13,2019-11-13,2019-11-13,2019-11-28,2475056.763,2019-11-13,NAH4,0,-3.0,15,12.0,-3.0

In [93]:
data['clear_date'] = pd.to_datetime(data['clear_date'])
data['posting_date'] = pd.to_datetime(data['posting_date'])
data['document_create_date'] = pd.to_datetime(data['document_create_date'])
data['document_create_date.1'] = pd.to_datetime(data['document_create_date.1'])
data['due_in_date'] = pd.to_datetime(data['due_in_date'])
data['baseline_create_date'] = pd.to_datetime(data['baseline_create_date'])
data['Time_given'] = (data['due_in_date'] - data['document_create_date']).dt.days
data['Time_taken'] = (data['clear_date'] - data['document_create_date']).dt.days
data['Time_variance'] = (data['Time_taken']-data['Time_given'])

In [94]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 49999
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   cust_number             50000 non-null  object
 1   name_customer           50000 non-null  object
 2   clear_date              40000 non-null  datetime64[ns]
 3   posting_date            50000 non-null  datetime64[ns]
 4   document_create_date    50000 non-null  datetime64[ns]
 5   document_create_date.1  50000 non-null  datetime64[ns]
 6   due_in_date             50000 non-null  datetime64[ns]
 7   total_open_amount       50000 non-null  float64
 8   baseline_create_date    50000 non-null  datetime64[ns]
 9   cust_payment_terms      50000 non-null  object
 10  isOpen                  50000 non-null  int64
 11  Delay                   40000 non-null  float64
 12  Time_given              50000 non-null  int64
 13  Time_taken              40000 non-null  float64
 14  Time_variance           40000 non-null  float64
dtypes: datetime64[ns](6), float64(4), int64(2), object(3)
memory usage: 6.1+ MB

In [95]:
target = 'isOpen'

In [96]:
def mycorr(x,y=data[target]):
    mat = np.corrcoef(x,y)
    print(mat)

In [97]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 49999
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   cust_number             50000 non-null  object
 1   name_customer           50000 non-null  object
 2   clear_date              40000 non-null  datetime64[ns]
 3   posting_date            50000 non-null  datetime64[ns]
 4   document_create_date    50000 non-null  datetime64[ns]
 5   document_create_date.1  50000 non-null  datetime64[ns]
 6   due_in_date             50000 non-null  datetime64[ns]
 7   total_open_amount       50000 non-null  float64
 8   baseline_create_date    50000 non-null  datetime64[ns]
 9   cust_payment_terms      50000 non-null  object
 10  isOpen                  50000 non-null  int64
 11  Delay                   40000 non-null  float64
 12  Time_given              50000 non-null  int64
 13  Time_taken              40000 non-null  float64
 14  Time_variance           40000 non-null  float64
dtypes: datetime64[ns](6), float64(4), int64(2), object(3)
memory usage: 6.1+ MB

In [98]:
mycorr(data['Time_given'])

[[ 1.         -0.02302441]
 [-0.02302441  1.        ]]

In [99]:
mycorr(data['Time_taken'].notnull(),data['isOpen'])

[[ 1. -1.]
 [-1.  1.]]

In [100]:
mycorr(data['Time_variance'].notnull(),data['Time_taken'].notnull())

[[1. 1.]
 [1. 1.]]

In [101]:
data.shape

(50000, 15)

In [102]:
for i in data:
    if data[i].isnull().sum()>0:
        print(i,data[i].isnull().sum())

clear_date 10000
Delay 10000
Time_taken 10000
Time_variance 10000

In [103]:
data.head()

,cust_number,name_customer,clear_date,posting_date,document_create_date,document_create_date.1,due_in_date,total_open_amount,baseline_create_date,cust_payment_terms,isOpen,Delay,Time_given,Time_taken,Time_variance
0,200769623,WAL-MAR corp,2020-11-02,2020-01-26,2020-01-25,2020-01-26,2020-02-10,4054214.016,2020-01-26,NAH4,0,266.0,16,282.0,266.0
1,200980828,BEN E,2019-08-08,2019-07-22,2019-07-22,2019-07-22,2019-08-11,5950348.020,2019-07-22,NAD1,0,-3.0,20,17.0,-3.0
2,200792734,MDV/ trust,2019-12-30,2019-09-14,2019-09-14,2019-09-14,2019-09-29,168363.342,2019-09-14,NAA8,0,92.0,15,107.0,92.0
3,140105686,SYSC llc,NaT,2020-03-30,2020-03-30,2020-03-30,2020-04-10,194055.357,2020-03-31,CA10,1,NaN,11,NaN,NaN
4,200769623,WAL-MAR foundation,2019-11-25,2019-11-13,2019-11-13,2019-11-13,2019-11-28,2475056.763,2019-11-13,NAH4,0,-3.0,15,12.0,-3.0

In [104]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 49999
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   cust_number             50000 non-null  object
 1   name_customer           50000 non-null  object
 2   clear_date              40000 non-null  datetime64[ns]
 3   posting_date            50000 non-null  datetime64[ns]
 4   document_create_date    50000 non-null  datetime64[ns]
 5   document_create_date.1  50000 non-null  datetime64[ns]
 6   due_in_date             50000 non-null  datetime64[ns]
 7   total_open_amount       50000 non-null  float64
 8   baseline_create_date    50000 non-null  datetime64[ns]
 9   cust_payment_terms      50000 non-null  object
 10  isOpen                  50000 non-null  int64
 11  Delay                   40000 non-null  float64
 12  Time_given              50000 non-null  int64
 13  Time_taken              40000 non-null  float64
 14  Time_variance           40000 non-null  float64
dtypes: datetime64[ns](6), float64(4), int64(2), object(3)
memory usage: 6.1+ MB

In [105]:
data.describe()

,total_open_amount,isOpen,Delay,Time_given,Time_taken,Time_variance
count,5.000000e+04,50000.000000,40000.000000,50000.000000,40000.000000,40000.000000
mean,2.345506e+06,0.200000,1.872750,17.924740,19.918175,1.872750
std,2.764850e+06,0.400004,90.990873,10.483327,91.087921,90.990873
min,5.378400e+01,0.000000,-326.000000,-50.000000,-291.000000,-326.000000
25%,3.601862e+05,0.000000,-5.000000,15.000000,11.000000,-5.000000
50%,1.297247e+06,0.000000,0.000000,16.000000,16.000000,0.000000
75%,3.466986e+06,0.000000,6.000000,17.000000,33.000000,6.000000
max,4.994392e+07,1.000000,316.000000,122.000000,338.000000,316.000000

In [106]:
data.nunique()

cust_number                1099
name_customer              4197
clear_date                  403
posting_date                506
document_create_date        507
document_create_date.1      506
due_in_date                 547
total_open_amount         44384
baseline_create_date        506
cust_payment_terms           74
isOpen                        2
Delay                       595
Time_given                  120
Time_taken                  607
Time_variance               595
dtype: int64

In [107]:
data.corr()

,total_open_amount,isOpen,Delay,Time_given,Time_taken,Time_variance
total_open_amount,1.000000,0.014640,-0.001664,-0.065460,-0.009059,-0.001664
isOpen,0.014640,1.000000,NaN,-0.023024,NaN,NaN
Delay,-0.001664,NaN,1.000000,-0.049759,0.993086,1.000000
Time_given,-0.065460,-0.023024,-0.049759,1.000000,0.067826,-0.049759
Time_taken,-0.009059,NaN,0.993086,0.067826,1.000000,0.993086
Time_variance,-0.001664,NaN,1.000000,-0.049759,0.993086,1.000000

In [108]:
data.cov()

,total_open_amount,isOpen,Delay,Time_given,Time_taken,Time_variance
total_open_amount,7.644397e+12,16191.093484,-421173.919825,-1.897353e+06,-2.296083e+06,-421173.919825
isOpen,1.619109e+04,0.160003,0.000000,-9.654993e-02,0.000000e+00,0.000000
Delay,-4.211739e+05,0.000000,8279.338941,-4.847101e+01,8.230868e+03,8279.338941
Time_given,-1.897353e+06,-0.096550,-48.471006,1.099002e+02,6.614137e+01,-48.471006
Time_taken,-2.296083e+06,0.000000,8230.867934,6.614137e+01,8.297009e+03,8230.867934
Time_variance,-4.211739e+05,0.000000,8279.338941,-4.847101e+01,8.230868e+03,8279.338941

In [109]:
data.nunique()

cust_number                1099
name_customer              4197
clear_date                  403
posting_date                506
document_create_date        507
document_create_date.1      506
due_in_date                 547
total_open_amount         44384
baseline_create_date        506
cust_payment_terms           74
isOpen                        2
Delay                       595
Time_given                  120
Time_taken                  607
Time_variance               595
dtype: int64

In [110]:
orig = pd.read_csv('Dataset.csv',index_col=0)

In [111]:
print(orig.nunique())

cust_number                1099
name_customer              4197
clear_date                  403
buisness_year                 2
doc_id                    48839
posting_date                506
document_create_date        507
document_create_date.1      506
due_in_date                 547
invoice_currency              2
document type                 2
posting_id                    1
area_business                 0
Unnamed: 14                  17
total_open_amount         44349
baseline_create_date        506
cust_payment_terms           74
invoice_id                48833
isOpen                        2
dtype: int64

In [112]:
data.nunique()

cust_number                1099
name_customer              4197
clear_date                  403
posting_date                506
document_create_date        507
document_create_date.1      506
due_in_date                 547
total_open_amount         44384
baseline_create_date        506
cust_payment_terms           74
isOpen                        2
Delay                       595
Time_given                  120
Time_taken                  607
Time_variance               595
dtype: int64

In [113]:
ls1 = data['name_customer'].unique()
len(ls1)

4197

In [117]:
data['count'] = 1

In [118]:
data.head()

,cust_number,name_customer,clear_date,posting_date,document_create_date,document_create_date.1,due_in_date,total_open_amount,baseline_create_date,cust_payment_terms,isOpen,Delay,Time_given,Time_taken,Time_variance,count
0,200769623,WAL-MAR corp,2020-11-02,2020-01-26,2020-01-25,2020-01-26,2020-02-10,4054214.016,2020-01-26,NAH4,0,266.0,16,282.0,266.0,1
1,200980828,BEN E,2019-08-08,2019-07-22,2019-07-22,2019-07-22,2019-08-11,5950348.020,2019-07-22,NAD1,0,-3.0,20,17.0,-3.0,1
2,200792734,MDV/ trust,2019-12-30,2019-09-14,2019-09-14,2019-09-14,2019-09-29,168363.342,2019-09-14,NAA8,0,92.0,15,107.0,92.0,1
3,140105686,SYSC llc,NaT,2020-03-30,2020-03-30,2020-03-30,2020-04-10,194055.357,2020-03-31,CA10,1,NaN,11,NaN,NaN,1
4,200769623,WAL-MAR foundation,2019-11-25,2019-11-13,2019-11-13,2019-11-13,2019-11-28,2475056.763,2019-11-13,NAH4,0,-3.0,15,12.0,-3.0,1

In [128]:
ls = data.groupby('name_customer', as_index=False).sum()
for col in ls.columns:
    if col != 'name_customer':
        ls[col] = ls[col]/ls['count']
ls

,name_customer,total_open_amount,isOpen,Delay,Time_given,Time_taken,Time_variance,count
0,11078 us,6.033024e+05,0.0,-69.0,11.0,-58.0,-69.0,1.0
1,17135 associates,4.688216e+06,0.0,-10.0,11.0,1.0,-10.0,1.0
2,17135 llc,6.633768e+04,0.0,-3.0,11.0,8.0,-3.0,1.0
3,17135 trust,5.374764e+05,1.0,0.0,11.0,0.0,0.0,1.0
4,17135 us,2.428277e+05,1.0,0.0,12.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...
4192,YEN BROS corporation,1.641261e+06,0.0,-0.5,19.5,19.0,-0.5,1.0
4193,YEN BROS llc,2.112332e+05,0.0,-2.0,19.0,17.0,-2.0,1.0
4194,ZARCO co,1.905872e+06,0.0,-1.0,13.0,12.0,-1.0,1.0
4195,ZARCO trust,6.965662e+05,1.0,0.0,12.0,0.0,0.0,1.0
4196,ZIYAD us,7.923242e+06,0.0,-83.0,113.0,30.0,-83.0,1.0

In [123]:
res = data.groupby('cust_number', as_index=False).sum()
for col in res.columns:
    if col != 'cust_number':
        res[col] = res[col]/res['count']
res

,cust_number,total_open_amount,isOpen,Delay,Time_given,Time_taken,Time_variance,count
0,100000048,4.650884e+06,0.000000,27.500000,92.000000,119.500000,27.500000,1.0
1,100000051,2.536869e+06,0.000000,70.333333,30.666667,101.000000,70.333333,1.0
2,100000158,3.723110e+06,0.000000,-0.285714,90.571429,90.285714,-0.285714,1.0
3,100000217,2.260563e+06,0.000000,28.500000,19.000000,47.500000,28.500000,1.0
4,100000222,2.038847e+06,0.205882,16.176471,18.470588,30.941176,16.176471,1.0
...,...,...,...,...,...,...,...,...
1094,CC7455,1.342999e+06,0.000000,9.000000,45.750000,54.750000,9.000000,1.0
1095,CCCA02,1.629565e+06,0.097561,-29.121951,36.762195,4.050813,-29.121951,1.0
1096,CCU001,2.127915e+06,0.145833,-31.083333,36.145833,-0.333333,-31.083333,1.0
1097,CCU002,2.139507e+06,0.062016,-35.806202,37.465116,-0.728682,-35.806202,1.0
1098,CCU013,1.126580e+06,0.110016,-0.906404,1.960591,0.847291,-0.906404,1.0

In [127]:
data.shape

(50000, 16)

In [126]:
print(res.iloc[0])

cust_number             100000048
total_open_amount    4650884.3745
isOpen                        0.0
Delay                        27.5
Time_given                   92.0
Time_taken                  119.5
Time_variance                27.5
count                         1.0
Name: 0, dtype: object

In [116]:
dups = data.pivot_table(index = ['name_customer'], aggfunc ='size')
for i in dups:
    if dups[i]>1:
        print(i)

6
6
6
7
15
18
9
9
13
6
9
14
15
14
12
7
16
15
10
18
21
14
13
12
21
26
26
49
48
46
48
53
54
6
6
7
7
6
6
92
86
91
91
92
86
83
80
95
74
80
6
12
6
13
10
10
7
10
17
11
6
12
10
6
10
6
10
10
6
174
171
209
15
14
10
11
6
13
12
7
10
6
9
9
9
9
11
7
7
11
7
7
10
9
6
7
11
12
11
13
12
15
16
14
7
7
6
6
142
150
150
171
141
6
6
6
7
12
7
13
7
7
7
17
17
10
14
17
6
15
12
10
13
9
6
14
12
9
7
10
99
97
49
42
37
42
48
44
6
7
130
125
97
104
99
93
100
103
102
87
101
118
79
91
106
94
91
43
45
43
42
43
42
9
6
6
9
6
6
12
10
6
6
7
6
7
6
44
43
44
37
48
11
16
18
9
10
14
9
11
74
75
61
80
77
93
85
79
68
10
11
10
10
12
10
10
12
11
9
6
12
6
12
6
7
6
6
17
21
13
11
9
11
9
10
17
20
7
6
6
6
9
7
6
7
6
6
12
20
18
16
18
10
21
20
14
14
21
17
14
18
12
15
16
17
9
12
11
10
14
16
46
37
43
43
43
44
43
43
43
6
7
9
6
10
9
9
10
12
6
18
7
13
9
9
7
9
6
7
10
13
6
12
9
10
7
6
9
6
6
6
6
20
15
12
13
18
11
12
12
15
17
9
11
7
10
14
7
12
10
12
7
16
20
11
11
18
15
6
14
6
7
15
21
17
14
7
11
17
11
10
15
59
39
51
51
59
42
40
52
47
48
56
58
52
52
53
45
57
56
15
9
12
18
11
11
12
6
13
14
18
18
12
9
15
14
15
10
20
20
23
16
18
14
11
74
89
87
90
75
76
91
75
76
6
57
60
42
51
59
52
49
45
47
7
10
12
14
12
6
14
16
11
11
13
6
6
12
14
11
13
6
6
10
6
7
6
9
9
6
7
7
6
9
7
6
6
6
17
46
42
37
40
9
9
7
9
9
14
12
12
6
17
15
15
16
21
17
20
15
12
17
53
50
57
44
40
50
44
17
20
17
16
15
23
18
11
23
9
7
6
9
7
6
7
6
9
15
17
21
13
23
20
16
10
20
6
7
7
21
21
13
26
16
11
7
12
11
13
10
14
16
7
15
6
18
21
16
9
6
6
6
7
13
6
9
6
7
6
6
10
6
6
6
6
53
68
73
63
76
78
61
9
9
6
20
12
17
20
16
16
12
14
12
9
11
15
10
9
16
23
26
16
7
6
9
7
6
7
6
10
7
10
10
9
145
171
177
26
6
10
9
9
7
6
7
7
9
6
6
7
7
6
7
6
7
7
6
9
6
10
9
14
11
7
12
11
9
10
9
7
7
23
20
15
26
10
18
16
17
6
20
26
26
23
7
7
14
6
12
9
7
6
11
10
11
6
9
6
6
9
6
79
60
73
92
59
78
59
58
78
6
10
6
9
7
6
10
12
14
15
16
14
12
13
7
15
18
12
45
45
39
43
51
59
53
50
10
40
56
42
45
46
37
47
47
51
43
45
37
23
26
39
10
12
12
7
7
12
9
11
17
6
17
20
16
20
17
14
23
11
13
6
10
7
100
108
93
118
90
11
10
11
16
13
11
12
6
7
7
6
6
6
6
6
6
7
11
10
18
10
16
15
12
14
12
12
7
10
13
9
7
10
9
10
10
50
43
64
48
49
51
58
57
57
23
6
6
50
52
46
47
46
47
50
45
52
48
1093
1122
1136
1092
1092
1150
1123
1064
10
7
6
7
13
7
9
10
10
9
12
10
17
12
7
11
9
12
7
7
7
9
13
10
42
48
45
42
39
47